@model StudentReport.Models.Course
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
@using (Html.BeginForm())
{
    <div>
        <input type="submit" value="Delete" class="btn btn-default" />
        @Html.ActionLink("Back to the List", "Index")
    </div>
}

